body {

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1d4ed8;
    padding: 5px 150px 5px;
}

#headerName {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    color: #ffffff;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 5px 20px 10px;
}

nav ul li {
    padding: 5px 25px 25px 5px;
    list-style-type: none;
    display: inline-block;

}

nav a:hover {
    background-color: #111827;
}


main {

    width: 1440px;
    margin: 0 auto;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.flexItem {

    padding: 20px;
    width: 100%;

}

section {

    margin: 40px 0px 40px;

}

.removePadding {

    padding: none;
}

.shadow {
    box-shadow: 10px 10px 5px lightgray;
    border: 1px solid #e3e1e1;
    border-radius: 20px;
}

#heroIcon {
    background-color: #1d4ed8;
    border-radius: 10px;
    font-size: 80px;

    margin: 0;
    height: 200px;
    text-align: center;


}


.circleBlue {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #1d4ed8;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0%;
}

.circleGreen {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #15803d;
    text-align: center;
    font-size: 60px;
    margin: 0;

    padding: 0%;
}

.circlePurple {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #7e22ce;
    text-align: center;
    font-size: 60px;
    margin: 0;

    padding: 0%;
}






footer {
    padding: 20px 150px 20px;
    background-color: #111827;
    color: #ffffff;
}


footer a {
    color: #ffffff;
    display: -webkit-flex;
    display: flex;
    text-decoration: none;
}

footer ul li {

    list-style-type: none;
    display: inline-block;
    padding: 5px 25px 5px;

}

#footerText {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

}

#footerNav {
    display: flex;
    justify-content: flex-end;

}

.listCheckmark {
    list-style: none;
    margin: 25px;
}

ul.listCheckmark li:before {

    content: '✓';
    font-weight: bold;
    right: 25px;

}


button {

    background-color: #1d4ed8;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #111827;

}

.floatRight {
    float: right;
}

.centerContent {
    align-items: center;
    text-align: -webkit-center;

}

.aboutBoxBlue {

    text-align: center;
    background-color: #1d4ed8;
    text-spacing-trim: 0;
    color: #ffffff;
    line-height: 2px;
    padding: 50px;


}

.aboutBoxPurple {

    text-align: center;
    background-color: #7e22ce;
    color: #ffffff;
    line-height: 2px;
    padding: 50px;
}

.aboutBoxGreen {

    text-align: center;
    background-color: #15803d;
    color: #ffffff;
    line-height: 2px;
    padding: 50px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

.contactForm {}

.contactInfo {
    padding: 20px;
    margin-bottom: 20px;


}

.officeHrs {
    padding: 20px;
    background-color: #1d4ed8;
    color: #ffffff;



}

.mission {
    background-color: #1d4ed8;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 100px;
    text-align: center;
    margin: 0;



}